.container-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        padding: 20px;
        display: flex;
        flex-direction: column;

        img {
            width: 250px;
            border-radius: 10px;
        }
    }
}
.sorry {
    padding-top: 30px;
    font-size: 2rem;
}
